*{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #89cff0;
    color: white;
}
nav, .container {
    width: 1000px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.links li a {
    color :white;
    text-decoration: none;

}
.sanjose {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}
.row {
    display: flex;
}
.dia {
    flex: 1;
    margin-right: 10px;
    background-color: lightgray;
    text-align: center;
    padding: 20px 0;
}
.dia img {
    width: 100px;
    border-radius: 50%;
    margin: 10px 0;

}
.lastElement {
    margin-right: 0px;
}
.temperaturas {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}
.temMax {
    color: red;
    font-weight: bold;
}
.temMin {
    color: blue;
    font-weight: bold;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.cookie {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(242,242,242);
}
.cookie button {
    padding: 5px 10px;
    background-color: blue;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgb(242,242,242);
}
.cookie button:active {
    background-color: aquamarine;
}